<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAzureService" />
                <binding name="BasicHttpsBinding_IAzureService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44337/Service.svc/SecureAccess"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService"
                contract="ServiceReference1.IService" name="WSHttpBinding_IService" />
            <endpoint address="https://meeteamazureservice.azurewebsites.net/AzureService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAzureService"
                contract="AzureReference.IAzureService" name="BasicHttpsBinding_IAzureService" />
        </client>
    </system.serviceModel>
</configuration>